<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>background</key>
		<string>grfx_btn_rendering.png</string>
		<key>xy</key>
		<string>100,100</string>
		<key>angle</key>
		<string>0</string>
		<key>caption</key>
		<string>Caption1</string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>pdf</string>
		<key>background</key>
		<string>grfx_btn_rendering.png</string>
		<key>xy</key>
		<string>300,100</string>
		<key>angle</key>
		<string>45</string>
		<key>caption</key>
		<string>Caption2</string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>movie</string>
		<key>background</key>
		<string>grfx_btn_rendering.png</string>
		<key>xy</key>
		<string>500,100</string>
		<key>angle</key>
		<string>90</string>
		<key>caption</key>
		<string>Caption3</string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>movie</string>
		<key>background</key>
		<string>grfx_btn_rendering.png</string>
		<key>xy</key>
		<string>700,100</string>
		<key>angle</key>
		<string>135</string>
		<key>caption</key>
		<string>Caption4</string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>movie</string>
		<key>background</key>
		<string>grfx_btn_rendering.png</string>
		<key>xy</key>
		<string>100,300</string>
		<key>angle</key>
		<string>180</string>
		<key>caption</key>
		<string>Caption5</string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>movie</string>
		<key>background</key>
		<string>grfx_btn_rendering.png</string>
		<key>xy</key>
		<string>300,300</string>
		<key>angle</key>
		<string>225</string>
		<key>caption</key>
		<string>Caption6</string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>movie</string>
		<key>background</key>
		<string>grfx_btn_rendering.png</string>
		<key>xy</key>
		<string>500,300</string>
		<key>angle</key>
		<string>270</string>
		<key>caption</key>
		<string>Caption7</string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>movie</string>
		<key>background</key>
		<string>grfx_btn_rendering.png</string>
		<key>xy</key>
		<string>700,300</string>
		<key>angle</key>
		<string>315</string>
		<key>caption</key>
		<string>Caption8</string>
		<key>RGB</key>
		<string></string>
		<key>fileName</key>
		<string></string>
	</dict>
</array>
</plist>
